<%- include("partials/header"); -%>
    <h1>About</h1>
    <p>This is my daily journal blog web app. Here you can easily post your daily journals. This is user friendly. Here you will get regular updates. All posts are secured and safe. You can easily write your post by simply signing up to our application. I have also given Google Authentication to our application so our application is 100% secured and safe.</p>
<%- include("partials/footer"); -%>
