<%- include("partials/header"); -%>
    <h1><b>Developer's Contact</b></h1>
    <h2>SONAL BHARTI</h2> 
    <li><h3>Mobile Number :- 91+9636248195</h3> </li>
    <li><h3>Location :- INDIA</h3></li>
    <li><h3>Email :- sonalbharti22er@gmail.com</h3></li>
<%- include("partials/footer"); -%>
